/*---------------------------------------------------------------------------------

	Project Name: Name that Colour
	Project Description: A Thinkful Quiz App
	File Name: style.css
	Author: Jeya Karthika
	Author URI: http://www.freshsqueaks.com
	Version: 0.1
	
----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
---------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	overflow: hidden;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

section {
	position: absolute;
	height: 100%;
}

.left {
	width: 75%;
	top: 0;
	left: 0;
	font-weight: 300;
}

.right {
	width: 25%;
	top: 0;
	right: 0;
	font-weight: 400;
	color: #fff;
	background-color: #282828;
}

/*---------------------------------------------------------------------------------
   Info Section Styles
---------------------------------------------------------------------------------*/

.header, div.results-container, footer {
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
}

header {
	height: 20%;
	margin: 1em 0 0.5em;
}

header .logo {
	position: relative;
	margin: 0 auto;
	display: block;
	text-decoration: none;
	text-align: center;
}

h1 {
	position: relative;
	width: 100%;
	font-family: 'Rancho', cursive;
	font-size: 3em;
	text-align: center;
}

.results-container {
	height: 60%;
	padding: 2.8em 0.2em 2.5em; 
}

.count {
	text-align: center;
	font-size: 1.2em;
	color: #11a8ab;
}

#do, #done, #total {
	color: #e64c65;
	font-size: 4em;
	display: block;
}

/*Horizontal rule styling based on Chris Coyiers article*/
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/*footer styles*/
footer {
	height: 15%;
	margin: 1em 0;
	text-align: center;
}

footer p {
	font-size: 1.2em;
	padding: 1em 0.2em;
	line-height: 1.2em;
	font-weight: 300;
	color: #fff;
	margin: 0 auto;
}

footer span {
	color: #e64c65;
	font-size: 1.5em;
}

footer a {
	color: #11a8ab;
	display: block;
}
/*---------------------------------------------------------------------------------
   Quiz App Section Styles
---------------------------------------------------------------------------------*/
#question-container {
	position: relative;
	text-align: center;
	width: 100%;
	height: 20%;
}

h2 {
	font-size: 4em; 
	vertical-align: middle;
	line-height: 2em;
}
/*List Styles*/
#choices {
	position: relative;
	list-style-type: none;
	width: 100%;
	height: 80%;
}

#choices li {
	position: relative;
	width: 100%;
	height: 20%;
	cursor: pointer;
}

/*---------------------------------------------------------------------------------
   Style for hidden modal
---------------------------------------------------------------------------------*/

.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #e74c3c;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
	overflow: hidden;
}

.content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	height: 65%;
	width: 50%;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

.content > div a {
	text-decoration: none;
	font-size: 1em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

/*---------------------------------------------------------------------------------
   Media Queries for responsiveness
---------------------------------------------------------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 800px){
	h1 {
		font-size: 2.2em;
	}

	.count {
		font-size: 1.2em;
	}

	#do, #done, #total {
		font-size: 3.5em;
	}

	footer {
		margin: 0.2em 0;
	}

	footer p {
		font-size: 1em;
		padding: 0.5em;
	}

	footer span {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 0px) and (max-width: 480px){

	header {
		margin: 0.2em;
	}

	.logo img {
		width: 75px;
	}

	h1 {
		font-size: 1.5em;
	}

	.count {
		font-size: 1em;
	}

	#do, #done, #total {
		font-size: 3em;
	}

	footer {
		margin: 0.5em 0;
	}

	footer p {
		font-size: 0.8em;
		padding: 1em 0.5em;
	}

	footer span {
		font-size: 1em;
	}

	h2 {
		font-size: 2em;
		line-height: 3em;
	}

	.content {
		width: 95%;
		height: 95%;
		font-size: 0.75em;
	}

	.content > div p {
		line-height: 1.5em;
	}

}

/*---------------------------------------------------------------------------------
   Colour Name Styles
---------------------------------------------------------------------------------*/
.IndianRed {
	background-color: IndianRed;
}

.LightCoral {
	background-color: LightCoral;
}

.Salmon {
	background-color: Salmon;
}

.DarkSalmon {
	background-color: DarkSalmon;
}

.LightSalmon {
	background-color: LightSalmon;
}

.Crimson {
	background-color: Crimson;
}

.Red {
	background-color: Red;
}

.FireBrick {
	background-color: FireBrick;
}

.DarkRed {
	background-color: DarkRed;
}

.Pink {
	background-color: Pink;
}

.LightPink {
	background-color: LightPink;
}

.HotPink {
	background-color: HotPink;
}

.DeepPink {
	background-color: DeepPink;
}

.MediumVioletRed {
	background-color: MediumVioletRed;
}

.PaleVioletRed {
	background-color: PaleVioletRed;
}

.Coral {
	background-color: Coral;
}

.Tomato {
	background-color: Tomato;
}

.OrangeRed {
	background-color: OrangeRed;
}

.DarkOrange {
	background-color: DarkOrange;
}

.Orange {
	background-color: Orange;
}

.Gold {
	background-color: Gold;
}

.Yellow {
	background-color: Yellow;
}

.LightYellow {
	background-color: LightYellow;
}

.LemonChiffon {
	background-color: LemonChiffon;
}

.LightGoldenrodYellow {
	background-color: LightGoldenrodYellow;
}

.PapayaWhip {
	background-color: PapayaWhip;
}

.Moccasin {
	background-color: Moccasin;
}

.PeachPuff {
	background-color: PeachPuff;
}

.PaleGoldenrod {
	background-color: PaleGoldenrod;
}

.Khaki {
	background-color: Khaki;
}

.DarkKhaki {
	background-color: DarkKhaki;
}

.Lavender {
	background-color: Lavender;
}

.Thistle {
	background-color: Thistle;
}

.Plum {
	background-color: Plum;
}

.Violet {
	background-color: Violet;
}

.Orchid {
	background-color: Orchid;
}

.Fuchsia {
	background-color: Fuchsia;
}

.Magenta {
	background-color: Magenta;
}

.MediumOrchid {
	background-color: MediumOrchid;
}

.MediumPurple {
	background-color: MediumPurple;
}

.Amethyst {
	background-color: Amethyst;
}

.BlueViolet {
	background-color: BlueViolet;
}

.DarkViolet {
	background-color: DarkViolet;
}

.DarkOrchid {
	background-color: DarkOrchid;
}

.DarkMagenta {
	background-color: DarkMagenta;
}

.Purple {
	background-color: Purple;
}

.Indigo {
	background-color: Indigo;
}

.SlateBlue {
	background-color: SlateBlue;
}

.DarkSlateBlue {
	background-color: DarkSlateBlue;
}

.MediumSlateBlue {
	background-color: MediumSlateBlue;
}

.GreenYellow {
	background-color: GreenYellow;
}

.Chartreuse {
	background-color: Chartreuse;
}

.LawnGreen {
	background-color: LawnGreen;
}

.Lime {
	background-color: Lime;
}

.LimeGreen {
	background-color: LimeGreen;
}

.PaleGreen {
	background-color: PaleGreen;
}

.LightGreen {
	background-color: LightGreen;
}

.MediumSpringGreen {
	background-color: MediumSpringGreen;
}

.SpringGreen {
	background-color: SpringGreen;
}

.MediumSeaGreen {
	background-color: MediumSeaGreen;
}

.SeaGreen {
	background-color: SeaGreen;
}

.ForestGreen {
	background-color: ForestGreen;
}

.Green {
	background-color: Green;
}

.DarkGreen {
	background-color: DarkGreen;
}

.YellowGreen {
	background-color: YellowGreen;
}

.OliveDrab {
	background-color: OliveDrab;
}

.Olive {
	background-color: Olive;
}

.DarkOliveGreen {
	background-color: DarkOliveGreen;
}

.MediumAquamarine {
	background-color: MediumAquamarine;
}

.DarkSeaGreen {
	background-color: DarkSeaGreen;
}

.LightSeaGreen {
	background-color: LightSeaGreen;
}

.DarkCyan {
	background-color: DarkCyan;
}

.Teal {
	background-color: Teal;
}

.Aqua {
	background-color: Aqua;
}

.Cyan {
	background-color: Cyan;
}

.LightCyan {
	background-color: LightCyan;
}

.PaleTurquoise {
	background-color: PaleTurquoise;
}

.Aquamarine {
	background-color: Aquamarine;
}

.Turquoise {
	background-color: Turquoise;
}

.MediumTurquoise {
	background-color: MediumTurquoise;
}

.DarkTurquoise {
	background-color: DarkTurquoise;
}

.CadetBlue {
	background-color: CadetBlue;
}

.SteelBlue {
	background-color: SteelBlue;
}

.LightSteelBlue {
	background-color: LightSteelBlue;
}

.PowderBlue {
	background-color: PowderBlue;
}

.LightBlue {
	background-color: LightBlue;
}

.SkyBlue {
	background-color: SkyBlue;
}

.LightSkyBlue {
	background-color: LightSkyBlue;
}

.DeepSkyBlue {
	background-color: DeepSkyBlue;
}

.DodgerBlue {
	background-color: DodgerBlue;
}

.CornflowerBlue {
	background-color: CornflowerBlue;
}

.MediumSlateBlue {
	background-color: MediumSlateBlue;
}

.RoyalBlue {
	background-color: RoyalBlue;
}

.Blue {
	background-color: Blue;
}

.MediumBlue {
	background-color: MediumBlue;
}

.DarkBlue {
	background-color: DarkBlue;
}

.Navy {
	background-color: Navy;
}

.MidnightBlue {
	background-color: MidnightBlue;
}

.Cornsilk {
	background-color: Cornsilk;
}

.BlanchedAlmond {
	background-color: BlanchedAlmond;
}

.Bisque {
	background-color: Bisque;
}

.NavajoWhite {
	background-color: NavajoWhite;
}

.Wheat {
	background-color: Wheat;
}

.BurlyWood {
	background-color: BurlyWood;
}

.Tan {
	background-color: Tan;
}

.RosyBrown {
	background-color: RosyBrown;
}

.SandyBrown {
	background-color: SandyBrown;
}

.Goldenrod {
	background-color: Goldenrod;
}

.DarkGoldenrod {
	background-color: DarkGoldenrod;
}

.Peru {
	background-color: Peru;
}

.Chocolate {
	background-color: Chocolate;
}

.SaddleBrown {
	background-color: SaddleBrown;
}

.Sienna {
	background-color: Sienna;
}

.Brown {
	background-color: Brown;
}

.Maroon {
	background-color: Maroon;
}

.White {
	background-color: White;
}

.Snow {
	background-color: Snow;
}

.Honeydew {
	background-color: Honeydew;
}

.MintCream {
	background-color: MintCream;
}

.Azure {
	background-color: Azure;
}

.AliceBlue {
	background-color: AliceBlue;
}

.GhostWhite {
	background-color: GhostWhite;
}

.WhiteSmoke {
	background-color: WhiteSmoke;
}

.Seashell {
	background-color: Seashell;
}

.Beige {
	background-color: Beige;
}

.OldLace {
	background-color: OldLace;
}

.FloralWhite {
	background-color: FloralWhite;
}

.Ivory {
	background-color: Ivory;
}

.AntiqueWhite {
	background-color: AntiqueWhite;
}

.Linen {
	background-color: Linen;
}

.LavenderBlush {
	background-color: LavenderBlush;
}

.MistyRose {
	background-color: MistyRose;
}

.Gainsboro {
	background-color: Gainsboro;
}

.LightGrey {
	background-color: LightGrey;
}

.Silver {
	background-color: Silver;
}

.DarkGray {
	background-color: DarkGray;
}

.Gray {
	background-color: Gray;
}

.DimGray {
	background-color: DimGray;
}

.LightSlateGray {
	background-color: LightSlateGray;
}

.SlateGray {
	background-color: SlateGray;
}

.DarkSlateGray {
	background-color: DarkSlateGray;
}

.Black {
	background-color: Black;
}

