/*---------------------------------------------------------------------------------

	Project Name: Shopping List
	Project Description: A Thinkful Shopping List App
	File Name: style.css
	Author: Jeya Karthika
	Author URI: http://www.freshsqueaks.com
	Version: 0.1
	
----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
---------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	overflow: hidden;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

section {
	position: absolute;
	height: 100%;
}

.left {
	width: 25%;
	top: 0;
	left: 0;
	background-color: #282828;
	font-weight: 400;
	color: #fff;
}

.right {
	width: 75%;
	top: 0;
	right: 0;
	font-weight: 300;
}

/*---------------------------------------------------------------------------------
   Info Section Styles
---------------------------------------------------------------------------------*/

.header, div.count-container, footer {
	position: relative;
	width: 100%;
	margin: auto;
	text-align: center;
}

header {
	height: 20%;
}

header .logo {
	position: relative;
	margin: 0 auto;
	display: block;	
	background: url('../images/logoANDoptions.png') no-repeat 0 0;
	width: 74px;
	height: 74px;
	text-decoration: none;
}

h1 {
	position: relative;
	top: 0.5em;
	width: 100%;
	font-family: 'Rancho', cursive;
	font-size: 1.5em;
	text-align: center;
}

.count-container {
	height: 60%;
	padding: 2.8em 0.2em 2.5em; 
}

.count {
	text-align: center;
	font-size: 1.2em;
	color: #11a8ab;
}

#do, #done, #total {
	color: #e64c65;
	font-size: 2.2em;
	display: block;
}

/*Horizontal rule styling based on Chris Coyiers article*/
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/*footer styles*/
footer {
	position: relative;
	width: 100%;
	height: 15%;
}

footer p {
	font-size: 0.88em;
	padding: 1em 0.2em;
	line-height: 1.2em;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}

footer span {
	color: #e64c65;
	font-size: 1em;
}

footer a {
	color: #11a8ab;
}
/*---------------------------------------------------------------------------------
   List App Section Styles
---------------------------------------------------------------------------------*/

/*Input Text Box*/
.textBox {
  padding: 0.8em; 
  width: 100%; 
  height: 10%;
  border-style: none; 
  font-size: 2em;
  color: #282828;
}

input {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;	
	font-weight: 300;
}

input:focus {
	outline: none;
}

/*List Styles*/
#list {
	position: relative;
	list-style-type: none;
	width: 100%;
	height: 90%;
}

#list li {
	position: relative;
	background-color: #3498db;
	width: 100%;
	height: 60px;
}

#list li:nth-child(even) { 
	background-color: #2980b9; 
}

/*Span with Class item*/
.item {
	position: absolute;
	left: 0;
	width: 78%;
	height: 60px;
	font-size: 1.2em;
	color: #fff;
	padding-left: 0.8em;
	line-height: 3em;
}

/*Delete icon using div*/
.delete {
	position: absolute;
	right: 0;
	background: url('../images/logoANDoptions.png') no-repeat -80px -20px;
	width: 60px;
	height: 60px;
	display: inline-block;
	cursor: pointer;
}

/*Checked off list item style*/
.checked span.item{
	text-decoration: line-through;
	font-style: italic;
}

.checked {
	background-color: #709984; 
}

/*---------------------------------------------------------------------------------
   Media Queries for responsiveness
---------------------------------------------------------------------------------*/
/*Above style are for 320x480. 
Now, I have to use media queries to make that responsive.*/

@media only screen and (min-width : 340px) and (max-width : 477px){



	footer p {
		font-size: 1em;
		padding: 1em 0.5em;
	}

}

@media only screen and (min-height: 620px) and (max-height: 1024px){

	.count {
		font-size: 1.5em;
	}

	#do, #done, #total {
		font-size: 2.5em;
	}

}