/*---------------------------------------------------------------------------------

	Project Name: Portfolio
	Project Description: A ThinkFul Portfolio Site
	File Name: style.css
	Author: Jeya Karthika
	Author URI: http://www.freshsqueaks.com
	Version: 0.1
	
----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*---------------------------------------------------------------------------------
   Mobile-First Styling
---------------------------------------------------------------------------------*/

/* Mobile First Styling */
@media only screen and (min-width : 320px) {

  /* html, body, sections and container styling */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
  }

  body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }


}






