/*---------------------------------------------------------------------------------

	Project Name: Portfolio
	Project Description: A ThinkFul Portfolio Site
	File Name: style.css
	Author: Jeya Karthika
	Author URI: http://www.freshsqueaks.com
	Version: 0.1
	
----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/
/*float styles*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

a {
  text-decoration: none;
  color: #000;
}

/*---------------------------------------------------------------------------------
   Mobile-First Styling
---------------------------------------------------------------------------------*/

/* Mobile First Styling */
@media only screen and (min-width : 320px) {

  /* html, body, sections and container styling */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden;
  }

  body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }

  /* fixed header */
  .fixed-header {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 10%;
  }

  header a {
    position: absolute;
    top: 2em;
    padding: 1em;
  }

  header a:nth-child(1) {
    left: 2em;
  }

  header a:nth-child(3) {
    right: 2em;
  }

  header a:nth-child(2) {
    text-align: center;
    margin: 0 auto;
  }

  /* Hide Text - for image replacement */
  .hide-text {
    text-indent: -9999px;
    overflow: hidden;
  }

  /* Menu */
  .icon-menu {
    left: 2em;
    background: url('../images/glyphicons/glyphicons_158_show_lines.png') no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
  }

  .hide-menu {
    display: none;
  }

  /* Logo */
  .logo {
      display: inline-block;
      width: 50px;
      height: 50px;
  }


}






